.challenge-container {
    padding: 6% 20% 4% 20%;
    display: flex;
    flex-wrap:wrap; 
    flex-direction: row;
    justify-content: space-evenly;   
}

.questionBox{
    padding: 4% 8%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    justify-content: space-evenly; 
}

.question {
    color: black;
    padding: 8%;
}

.answerBtn {
    background-color: #b2ebf9;
    padding: 0% 10%; 
    justify-content: center;
    align-items: center;
}

.score-board {
    color: white;
    padding: 8%;
}

.score {
    color:black;
    padding: 8%;
}

.playBtn {
    color: black;
    padding: 8%;
    background-color: #b2ebf9;
}

