.challenge-container {
    text-align:center;
}

.questionBox{
    text-align:center;
}

.question {
    text-align:center;
    color: white;
    padding: 2% 0% 1% 0%;
}

.answerBtn {
    background-color: #b2ebf9;
    padding: 0.5%; 
}

.score-board {
    text-align:center;
}

.score {
    text-align:center;
}

.playBtn {
    background-color: #b2ebf9;
}

