.Crew {
    height: 100%;
    background-color: black;
}

.CrewList {
    width: 100%;
    height: 100%;
    cursor: pointer;
}


.listing {
    height: 100%;
    display: block;
    font-family: Times;
    font: inherit;
    cursor: pointer;
    font-weight: 400;
    line-height: 16px;
    text-size-adjust: 100%;
    text-align: center;
    padding-top: 5%;
    padding-right: 22%;
    padding-left: 22%;
    padding-bottom: 15%;
    vertical-align: baseline; 
}

h1 {
    font-family:Titan One;
    text-align: center;
    color: white;
    padding-top: 7%;
    font-size: 4.0rem!important;
    
}

.listing .Infos {
    width: 70%;
    float: left;
    padding-top: 40px;
    padding-bottom: 25px;
    text-decoration: none;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none !important;
}

.Infos h2 {
    font-weight: 300;
    color:white;
    font-size: 40px;
    padding-bottom: 10px;
}


.align {
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: center;
}


.flag {
    width: 25px;
    height: 13px;
    float: center;
    margin-right: 20px;
    box-shadow: black 1px 1px 3px;
    margin-top: 10px;
    
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: gray;
    padding-top: 0px;
    float: center;
}

.Days {
    margin-bottom: 20px;
    margin-top: 40px;
    width: 30%;
    float: right;
    text-align: right;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 30px;
    padding-bottom: 3px;
    text-align: right;
    color: white;
}

.Infos p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
}

p {
    color: #59757d;
}

a:hover{
    background: #f6f4f5;
    transform: scale(1.2) translate(15px, 0);
    box-shadow: 0 0 4px 0 rgba(33,33,33,0.2);
}
        







/* ul {
    margin: 0;
    padding: 0;
    float: center;
    text-align: center;
}

.Crew{
    color: black;
    display: table-cell;
    vertical-align: middle;
    list-style: none;
    justify-content: center ;

    
}

ul li h2 {
    padding: .2em 1em;
    background-color: cadetblue;
}

ul li h2:hover {
    color: gray; */

/* } */