
.footer {
    display:flex;
    justify-content:space-around;
    padding-top: 20px;
    background-color:#000;
    
}

.footer ul {
    display:flex;
    list-style-type:none;    
    text-align:center;
}

.contact {
    display:flex;
   
}

.footer li a{
    padding-left:10px;
    padding-right:10px;
    color:#FFF;  
}

.footer li a:hover{
    background-color:#000;
    font-weight:bold;
   
}


.social{
    display:flex;
}



.footer img {
    height:30px;
    width:30px;
   
}

.footer .contact div{
    width:100px;
}