

.footer {
    display:flex;
    justify-content:space-around;
    padding-top: 20px;
    background-color:gray;
    
    
}

ul {
    display:flex;
    list-style-type:none;
    
}

.contact {
    display:flex;
}

li {
    padding-left:10px;
    padding-right:10px;
    color:black;
  

    
}

.social{
    display:flex;
}

.selected {
    color:gray;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
}

.footer img {
    height:30px;
    width:30px;
   
}

