.homepage {
    display: flex;
    flex-direction: column;
    background-color: black;
}

.image-picture {
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
}

.image-picture img {
    height: 40vw; 
    margin-left: auto;
    margin-right: auto;
    padding: 0% 2% 0% 2%;;
}

.image-title {    
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 2% 0% 0% 2%;
}

.homepage-title {
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 2% 0% 0% 2%;
}

.image-infos {    
    text-align: center;
    color: white;
    padding: 0% 2% 0% 2%;
}


