.homepage {
    display: flex;
    justify-content:space-around;
    
}

.image-picture {
    padding: 2%;

}

.image-picture img {
    height: 62vh; 
    margin-left: auto;
    margin-right: auto;
    padding: 0% 2% 0% 2%;
}

.image-title {    
    font-weight: bold;
    text-align: center;
    color: white;
   
}

.homepage-title {
    font-weight: bold;
    text-align: center;
    color: white;

}

.image-infos {    
    text-align: center;
    color: #FFF;
    text-align: justify;
    font-size:15px;
}

.accordion {
    color:#b2ebf9!important;
       
}



@media (max-width: 950px){
    .homepage{       
        flex-direction:column;
        height:150vh;     
    }

    .image-picture {
        padding: 0%;

    
    }
}



