.sighting-board {
    display:flex;

    justify-content: center;
    align-items: center;
}

.sighting-title {
    padding: 3% 10% 4% 10%;
}

.sighting-subtitle {
    color: white;
    padding: 0% 8% 4% 8%;
    font-weight: bold;
}

.sighting-infos {
    width: 50%;
    justify-content: center;
    align-items: center;
}

.sighting-list{
    padding: 0% 18% 1% 18%;
    color: white;
    text-align: center;
}

.sighting-list:hover {
    color: #b2ebf9;
 }

.sighting-div-image {
    width: 50%;
    justify-content: center;
    align-items: center;
}

.sighting-image {
    width:100%;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1024px) {
    .sighting-board {
        flex-direction: column;
    }

    .sighting-infos {
        width: 100%;
    }

    .sighting-div-image {
        width: 100%;
    }
  }




