.sighting-board {
    display:flex;
    justify-content: center;
    align-items: center;
}

.sighting-title {
    padding: 30px 10px 4px 10px;
}

.sighting-subtitle {
    color: #b2ebf9;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0;
    padding: 0px 80px 40px 80px;
}

.sighting-infos {
    width: 50%;
    justify-content: center;
    align-items: center;
    padding: 60px 80px 20px 80px;
}

.sighting-list{
    padding: 10px 80px;
    color: white;
    text-align: center;
}

.sighting-list:hover {
    color: #b2ebf9;
 }

.sighting-div-image {
    width: 50%;
    justify-content: center;
    align-items: center;
}

.sighting-image {
    width:100%;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1024px) {
    .sighting-board {
        flex-direction: column;
    }

    .sighting-infos {
        width: 100%;
    }

    .sighting-div-image {
        width: 100%;
    }
  }




