.loading{
    background-color:#000;
    color:#FFF;
    font-weight:bold;
    font-size:40px; 

}

.gif1{
    height:60vh;
}

.wheretitle{
   text-align:center;
   background-color:black;
   color:#FFF;
   font-size: 60px;
   padding-top:0;    
}

.speed{
    display:flex;
    padding-left:20px;
    padding-top:30px;
    color:#b2ebf9;
}

.orbits{
    padding-left:30px;
    color:#b2ebf9;
}


.imperial{
    color:#b2ebf9;
    font-size:10px;
    background-color:#000;
    border-radius:50%;
}

.toggle{
    padding-left:20px;
}


.Where{
   justify-content: space-around;
   display:flex;
   background-color:black;
   color:gray;
   width:100%;  
   text-align:center;
   align-items: center;    
}


.map{
    z-index:0;
    position: relative;
    flex-grow: 1;    
}

.map1{
    height: 300px;
    width: 100%;  
}

.choosemap {
   
   display:flex;
   position:absolute;
   z-index:2000;
   bottom:10px;
   left:10px;


}
.choosemap img{
    border-radius:50%;
    margin:auto;
    height:50px;
    width:50px; 
}

.choosemap button {
    background-color: transparent;
    border-radius:40%;
    border:none;
  
}

iframe{
    width:450px;
    height:290px;
    
}

.upgrade{
    font-weight:bold;
    color:#b2ebf9!important;
    padding-left:30px;
    font-size:30px;
}






/*responsiveness*/

@media (max-width: 1024px){
    
   
    .map{
        height:270px;
        width:50vh;
     
       
    }
    .choosemap{
        display:flex;
       
              
    }
   
    .Where{
        display:flex;
        flex-direction:column;
        justify-content:center;
        
       
        
    }

    .orbits{
        font-size:15px;
        
      
    }

    
   .speed{
       flex-direction:column;
       font-size:15px;
       color:#FFF;
       justify-content:center;
   }

   .gif1{
    
    height:25vh;
    
   }   

   

   iframe{
       padding-top:50px;
       width:40vh;
       height:65vh;
   }

   .loading{
       margin-top:100px;
       margin-bottom:200px;
   }

   
}



/*end of responsiveness*/ 

