.leaflet-container {
    height:80%;    
}

.background{
    background-color:black;
}

.wheretitle{
   text-align:center;
   background-color:black;
   color:#FFF;
   font-size: 60px;
  
}

.map{
    margin-bottom:40px;
    height:400px;
    width:500px;
    
}

.map1{
    border-radius:7%;
}

@media (max-width: 950px){
    .map{
        height:400px;
        width:360px;
        padding-bottom:80px;
        }

    .buttons{
        display:flex;
        position:absolute;
                            
    }
    .wheretitle{
        font-size:30px;
    }

    .Where{
        flex-direction:column;
    }

}
 
.buttons img{
    border-radius:50%;
    margin:auto;
    height:50px;
    width:50px;
    
 }   

 .choose2 {
    background-color:#000;
    display:inline-flex;
   
 }

 .imperial{
     color:gray;
     font-size:10px;
     background-color:#000;
     
 }

 
 
.Where{
    justify-content: space-around;
    display:flex;
    background-color:black;
    color:gray;
    width:100%;  
    text-align:center;
    align-items: center;
   
    
}

.loading{
    background-color:#000;
    color:#FFF;
    font-weight:bold;
    font-size:40px;
    height:100vw;
    
}

.searching{
    height:80px;
}



.video{
    
    text-align:center;
}

.gif1{
    width: 80%;
    height:37%;   
}
#root {
    text-align:center;
}

.choose{
    font-size:10px;
}

.speed{
    display:flex;
    margin-left:40px;
}

.speed button{
    margin-left:10px;
    margin-bottom:10px;
}

.selected{
    background-color:blue;
}